/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s, transform 0.3s;
}


/* Estilos de productos -5 */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 17vh;
}

.producto {
    width: 300px;
    background-color: rgb(236, 240, 236);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.producto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.producto h2 {
    margin-bottom: 10px;
}

.producto p {
    margin-bottom: 20px;
}

/* Estilos del carrito */
.carrito {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.carrito h2 {
    margin-bottom: 10px;
}

.carrito ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.carrito p {
    margin-bottom: 10px;
}

.carrito button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.carrito button:hover {
    background-color: #555;
}

.titlx {
    font-size: 30px;
    align-items: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 60px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    footer {
        padding: 10px;
    }
}


.formulario {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 9999;
}

.formulario h2 {
    margin-top: 0;
}

.formulario label {
    display: block;
    margin-bottom: 10px;
}

.formulario input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.formulario button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.pricex {
    text-decoration-line: line-through;
}

.secti {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}

.login-button {
    display: none;
    margin-left: auto;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .login-button {
        display: block;
        margin: 10px auto;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
}

.formix {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formix input[type="number"],
.formix input[type="password"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.formix button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.formix button[type="submit"]:hover{
    background-color: #0056b3;
}
.seg{
    margin-top: 20vh;
}
